{% extends 'inicio.html' %}

{% block titulo %}Ciudades del pais {{ pais }}{% endblock titulo %}

{% block principal %}

<div class="contenedor-tabla-ciudades-pais">
    <table class="tabla-ciudades-pais">
        <thead>
            <tr>
                <th>Ciudad</th>
                <th>Poblacion</th>
                <th>Tipo de Ciudad</th>
                <th>Visitado</th>
            </tr>
        </thead>
        <tbody>
            {% for ciudad in ciudades %}
            <tr>
                {% if ciudad[3]=='Visitada' %}

                    <td><a class="visitada-button" href="#">{{ ciudad[0] }}</a></td>
                    <td><a class="visitada-button" href="#">{{ ciudad[1] }} habitantes</a></td>
                    <td><a class="visitada-button" href="#">{{ ciudad[2] }}</a></td>
                    <td style="background-color: #90ee90;"><a class="visitada-button" href="#">Visitada <i class="fas fa-check"></i></a></td>

                {% else %}

                    <td><a class="no-visitada-button" href="#">{{ ciudad[0] }}</a></td>
                    <td><a class="no-visitada-button" href="#">{{ ciudad[1] }} habitantes</a></td>
                    <td><a class="no-visitada-button" href="#">{{ ciudad[2] }}</a></td>
                    <td><a class="no-visitada-button" href="#">No Visitada <i class="fas fa-times"></i></a></td>

                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="seccion-orden-ciudades">
    
    <div class="contenedor-orden">
        {% if orden %}
            <a href="/ciudades_pais/{{ pais }}" class="orden-button">No Ordenar</a>
        {% else %}
            <a href="/ciudades_pais/{{ pais }}?orden=True" class="orden-button">Ordenar</a>
        {% endif %}
    </div>

    <div class="contenedor-ciudades-pais-volver">
        <a href="/detalle_pais/{{ pais }}" class="volver-ciudades-pais-button">Volver al pais</a>
    </div>

</div>

{% endblock principal %}