{% extends 'inicio.html' %}

{% block titulo %}Detalle del pais {{ pais }}{% endblock titulo %}

{% block principal %}

<div class="contenedor-detalle">

	<div class="seccion-detalle-pais">
		<p><strong>Pais:</strong> {{ pais }}</p>
	</div>

	{% if siglas!="Sin Bandera" %}
	<div class="seccion-detalle-pais">
			<p>
				<strong>Bandera:</strong>
				<p><img src="{{ url_for('static', filename='imagenes_banderas/'+siglas+'.png') }}" alt="Imagen" height="122"></p>
			</p>
	</div>
	{% endif %}

	<div class="seccion-detalle-pais">
		<p>
			<strong>Capital:</strong>
			<a class="capital-button" href="/detalle_ciudad/{{ codigo_ciudad }}">{{ capital }}</a>
		</p>
	</div>

	<div class="seccion-detalle-pais">
		<p><strong>Poblacion:</strong> {{ poblacion }} habitantes</p>
	</div>

	<div class="seccion-detalle-pais">
		<p>
			<strong>Ciudades:</strong>
			<a class="ciudades-pais-button" href="/ciudades_pais/{{ pais }}">{{ ciudades }} ciudades</a>
		</p>
	</div>

<div class="contenedor-volver">
    <a href="/" class="volver-button">Volver</a>
</div>

{% endblock principal %}