/*------------------------------------------------------INICIO-----------------------------------------------*/
body, h1, h2, h3, p, ul, li, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #ff6b6b;
    color: #fff;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 1.75em;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

h2 {
    color: #fff;
    font-size: 44px;
    text-align: center;
}

.h2-contenedor {
    background-color: #ff8484;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contenedor-tabla {
    margin-top: 5px;
    overflow-y: auto;
    max-height: 430px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #ff6b6b;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    top: 0;
    z-index: 1;
    position: sticky;
}

tbody tr:hover {
    background-color: #fff0f0;
}

.codigo-button {
    text-decoration: none;
    color: #fff;
    background-color: #ff6b6b;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.1s ease;
    font-size: 18px;
    display: inline-block;
}

.codigo-button:hover {
    color: #333;
    transform: scale(1.05);
}

.ciudad-button {
    text-decoration: none;
    color: #333;
    background-color: #f7f7f7;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.01s ease;
    font-size: 18px;
    display: inline-block;
}

.ciudad-button:hover {
    color: #333;
    transform: scale(1.1);
}

.pais-button {
    text-decoration: none;
    color: #333;
    background-color: #f7f7f7;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.01s ease;
    font-size: 18px;
    display: inline-block;
}

.pais-button:hover {
    color: #333;
    transform: scale(1.1);
}

.mensaje-no-viajes {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #333;
    font-size: 22px;
    text-align: center;
}

.nuevo-viaje-button {
   text-decoration: none;
   color: #fff;
   background-color: #ff6b6b;
   padding: 8px 16px;
   border-radius: 5px;
   transition: background-color 0.3s ease, transform 0.1s ease;
   font-size: 24px;
}

.nuevo-viaje-button:hover {
    color: #333;
    transform: scale(1.05);
    background-color: #e74c3c;
}

.seccion-orden-viajes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.botones-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.ordenar-button {
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: ;
}

.ordenar-button:hover {
    background-color: #e74c3c;
}

.botones-section {
    width: 75%;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 5px 10px;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
}

.contenedor-orden-viajes {
    width: 100%;
    text-align: center;
}

.orden-viajes-button,
.orden-ciudades-button,
.orden-paises-button,
.orden-fechas-button {
    display: inline-block;
    padding: 8px 20px;
    background-color: #ff6b6b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 27px;
    margin-right: 70px;
}

.orden-viajes-button:hover,
.orden-ciudades-button:hover,
.orden-paises-button:hover,
.orden-fechas-button:hover {
    background-color: #e74c3c;
    color: #333;
    transform: scale(1.05);
}

.pie-pagina {
    font-size: 15px;
}

footer {
    background-color: #ff6b6b;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*------------------------------------------------------ANADIR-----------------------------------------------*/

.formulario-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    color: #333;
    margin-bottom: 12px;
    font-size: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.seccion {
    margin: 0 10px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;

}

select,
input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 20px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.boton-anadir {
    padding: 10px;
    margin-top: 10px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.boton-anadir:hover {
    background-color: #e74c3c;
    color: #333;
}

.linea-separadora {
    margin: 10px 0;
    border: 1px solid #ddd;
}

/*------------------------------------------------------RESUMEN VIAJE-----------------------------------------------*/

.contenedor-resumen {
    max-width: 2000px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    text-align: center;
}

.seccion-resumen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.seccion-resumen p {
    margin-right: 10px;
    font-size: 22px;
}

p {
    margin-bottom: 12px;
    font-size: 22px;
}

strong {
    color: #ff6b6b;
    margin-right: 5px;
     font-size: 25px;
}

.botones {
    margin-top: 20px;
}

.boton-confirmar,
.boton-cancelar {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.boton-confirmar {
    background-color: #ff6b6b;
    color: #fff;
    border: 1px solid;
    margin-bottom: 20px;
}

.boton-cancelar {
    background-color: #cecece;
    color: #fff;
}

.boton-confirmar:hover {
    opacity: 0.8;
    background-color: #4caf50;
}

.boton-cancelar:hover {
    opacity: 0.8;
    color: #333;
}

/*------------------------------------------------------DETALLE CIUDAD-----------------------------------------------*/

.contenedor-detalle {
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.seccion-detalle-ciudad {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.seccion-detalle-ciudad p {
    margin-right: 10px;
    font-size: 24px;
}

.seccion-mapa-ciudad {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa-ciudad {
    height: 250px;
    width: 50%;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contenedor-volver {
    text-align: center;
    margin-top: 15px;
}

.volver-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.volver-button:hover {
    background-color: #e74c3c;
    color: #333;
    transform: scale(1.05);
}

/*------------------------------------------------------DETALLE PAIS-----------------------------------------------*/

.seccion-detalle-pais {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.seccion-detalle-pais p {
    margin-right: 10px;
    font-size: 24px;
}

.capital-button {
    text-decoration: none;
    color: #333;
    background-color: #f7f7f7;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.01s ease;
    font-size: 23px;
    display: inline-block;
}

.capital-button:hover {
    color: #333;
    transform: scale(1.1);
}

.ciudades-pais-button {
    text-decoration: none;
    color: #333;
    background-color: #f7f7f7;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.01s ease;
    font-size: 23px;
    display: inline-block;
}

.ciudades-pais-button:hover {
    color: #333;
    transform: scale(1.1);
}

/*------------------------------------------------------DETALLE VIAJE-----------------------------------------------*/

.seccion-detalle-viaje {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.seccion-detalle-viaje p {
    margin-bottom: 10px;
    font-size: 28px;
}

.contenedor-imagen-viaje {
    width: 40%;
    padding-right: 20px;
}

.info-viaje {
    width: 60%;
}

.web-button-valido {
    text-decoration: none;
    color: #333;
    background-color: #f7f7f7;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.01s ease;
    font-size: 23px;
    display: inline-block;
}

.web-button-valido:hover {
    color: #333;
    transform: scale(1.1);
}

.web-button-invalido {
    text-decoration: none;
    color: #333;
    background-color: #f7f7f7;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 23px;
    display: inline-block;
    pointer-events: none;
}

.seccion-editar-datos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.contenedor-editar {
    width: 10%;
    text-align: center;
    margin-top: 15px;
}

.editar-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
}

.editar-button:hover {
    background-color: #e74c3c;
    color: #333;
    transform: scale(1.05);
}

.contenedor-viaje-volver {
    text-align: center;
    margin-top: 15px;
    width: 10%;
}

.volver-viaje-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
}

.volver-viaje-button:hover {
    background-color: #e74c3c;
    color: #333;
    transform: scale(1.05);
}

/*------------------------------------------------------CIUDADES PAIS-----------------------------------------------*/

.contenedor-tabla-ciudades-pais {
    margin-top: 5px;
    overflow-y: auto;
    max-height: 470px;
}

.tabla-ciudades-pais {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 10px;
}

.tabla-ciudades-pais th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabla-ciudades-pais th {
    background-color: #ff6b6b;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    top: 0;
    z-index: 1;
    position: sticky;
}

.tabla-ciudades-pais tbody tr:hover {
    background-color: #fff;
}

.visitada-button {
    text-decoration: none;
    color: #333;
    background-color: #90ee90;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 23px;
    display: inline-block;
    pointer-events: none;
}

.no-visitada-button {
    text-decoration: none;
    color: #333;
    background-color: #f7f7f7;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 23px;
    display: inline-block;
    pointer-events: none;
}

.seccion-orden-ciudades {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.contenedor-orden {
    width: 20%;
    text-align: center;
    margin-top: 15px;
}

.orden-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.orden-button:hover {
    background-color: #e74c3c;
    color: #333;
    transform: scale(1.05);
}

.contenedor-ciudades-pais-volver {
    text-align: center;
    margin-top: 15px;
    width: 20%;
}

.volver-ciudades-pais-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.volver-ciudades-pais-button:hover {
    background-color: #e74c3c;
    color: #333;
    transform: scale(1.05);
}

/*------------------------------------------------------EDITAR VIAJE-----------------------------------------------*/

.contenedor-editar-viaje {
    max-width: 2000px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    text-align: center;
}

.seccion-editar-viaje {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.seccion-editar-viaje p {
    margin-right: 30px;
    font-size: 22px;
}

.formulario-container-editar-viaje {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-editar-viaje {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.seccion-editar-viaje {
    margin: 0 10px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;

}

select,
input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 20px;
}

.boton-confirmar-editar-viaje,
.boton-cancelar-editar-viaje {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.boton-confirmar-editar-viaje {
    background-color: #ff6b6b;
    color: #fff;
    border: 1px solid;
    margin-bottom: 20px;
    width: 120px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.boton-cancelar-editar-viaje {
    background-color: #cecece;
    color: #fff;
}

.boton-confirmar-editar-viaje:hover {
    opacity: 0.8;
    background-color: #4caf50;
}

.boton-cancelar-editar-viaje:hover {
    opacity: 0.8;
    color: #333;
}

/*------------------------------------------------------MAPA MUNDIAL-----------------------------------------------*/

.contenedor-mapa-mundial {
    margin-top: 15px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedor-mapa-mundial iframe {
    border: 2px solid #ccc;
    width: 1200px;
    height: 450px;
    margin-top: 5px;
    margin-bottom: 2px;
}

/*------------------------------------------------------ESTADISTICAS-----------------------------------------------*/

.estadisticas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5px;
}

.estadistica-section {
    width: 27%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.estadistica-section:nth-child(4) {
    width: 70%;
}

.estadistica-section:nth-child(8) {
    width: 70%;
}

.estadistica-section:nth-child(12) {
    width: 80%;
}

.estadistica-section:nth-child(13) {
    width: 90%;
}

.estadistica-section:nth-child(14) {
    width: 70%;
}

.estadistica-section:hover {
    transform: scale(1.05);
}

.estadistica-section:nth-child(4):hover {
    transform: scale(1.01);
}

.estadistica-section:nth-child(8):hover {
    transform: scale(1.01);
}

.estadistica-section:nth-child(12):hover {
    transform: scale(1.01);
}

.estadistica-section:nth-child(13):hover {
    transform: scale(1.01);
}

.estadistica-section:nth-child(14):hover {
    transform: scale(1.01);
}

.estadistica-section h2 {
    color: #ff6b6b;
    font-size: 25px;
    margin-bottom: 10px;
}

.estadistica-section p {
    color: #555;
    font-size: 22px;
}

.contenedor-desplegable {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
}

.boton-desplegable {
    background-color: #f9f9f9;
    color: #333;
    padding: 10px;
    font-size: 23px;
    border: none;
    cursor: pointer;
}

.contenido-desplegable {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: auto;
    right: 0;
    max-height: 90px;
    overflow-y: auto;
}

.contenido-desplegable a {
    color: #333;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    font-size: 13px;
}

.contenido-desplegable a:hover {
    background-color: #e0e0e0;
}

.contenedor-desplegable:hover .contenido-desplegable {
    display: block;
}

.contenedor-desplegable:hover .boton-desplegable {
    background-color: #e0e0e0;
}

.imagenes-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.imagen-container {
    text-align: center;
    margin: 5px;
    margin-right: 50px;
}

.imagen-container p {
    margin-top: 5px;
    font-size: 20px;
}

.imagenes-transporte-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.imagen-transporte-container {
    text-align: center;
    margin: 5px;
    margin-right: 120px;
}

.imagen-transporte-container p {
    margin-top: 5px;
    font-size: 20px;
}

.contenedor-estadisticas-volver {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

.volver-estadisticas-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.volver-estadisticas-button:hover {
    background-color: #e74c3c;
    color: #333;
    transform: scale(1.05);
}

.subir-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 50px;
}

.subir-button:hover {
    background-color: #e74c3c;
    color: #333;
    transform: scale(1.05);
}