body, h1, h2, h3, p, ul, li, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #ff6b6b;
    color: #fff;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 1.75em;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

h2 {
    color: #fff;
    font-size: 44px;
    text-align: center;
}

.h2-contenedor {
    background-color: #ff8484;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contenedor-tabla {
    margin-top: 5px;
    overflow-y: auto;
     max-height: 490px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #ff6b6b;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    top: 0;
    z-index: 1;
    position: sticky;
}

tbody tr:hover {
    background-color: #fff0f0;
}

.codigo-button {
    text-decoration: none;
    color: #fff;
    background-color: #ff6b6b;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.1s ease;
    font-size: 18px;
    display: inline-block;
}

.codigo-button:hover {
    color: #333;
    transform: scale(1.05);
}

.ciudad-button {
    text-decoration: none;
    color: #333;
    background-color: #f7f7f7;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.01s ease;
    font-size: 18px;
    display: inline-block;
}

.ciudad-button:hover {
    color: #333;
    transform: scale(1.1);
}

.pais-button {
    text-decoration: none;
    color: #333;
    background-color: #f7f7f7;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.01s ease;
    font-size: 18px;
    display: inline-block;
}

.pais-button:hover {
    color: #333;
    transform: scale(1.1);
}

.mensaje-no-viajes {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #333;
    font-size: 22px;
    text-align: center;
}

.nuevo-viaje-button {
   text-decoration: none;
   color: #fff;
   background-color: #ff6b6b;
   padding: 8px 16px;
   border-radius: 5px;
   transition: background-color 0.3s ease, transform 0.1s ease;
   font-size: 24px;
}

.nuevo-viaje-button:hover {
    color: #333;
    transform: scale(1.05);
    background-color: #e74c3c;
}

.pie-pagina {
    font-size: 15px;
}

footer {
    background-color: #ff6b6b;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}



.formulario-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    color: #333;
    margin-bottom: 12px;
    font-size: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.seccion {
    margin: 0 10px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;

}

select,
input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 20px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.boton-anadir {
    padding: 10px;
    margin-top: 10px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.boton-anadir:hover {
    background-color: #e74c3c;
    color: #333;
}

.linea-separadora {
    margin: 10px 0;
    border: 1px solid #ddd;
}



.contenedor-resumen {
    max-width: 2000px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    text-align: center;
}

.seccion-resumen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.seccion-resumen p {
    margin-right: 10px;
    font-size: 22px;
}

p {
    margin-bottom: 12px;
    font-size: 22px;
}

strong {
    color: #ff6b6b;
    margin-right: 5px;
     font-size: 25px;
}

.botones {
    margin-top: 20px;
}

.boton-confirmar,
.boton-cancelar {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.boton-confirmar {
    background-color: #ff6b6b;
    color: #fff;
    border: 1px solid;
    margin-bottom: 20px;
}

.boton-cancelar {
    background-color: #cecece;
    color: #fff;
}

.boton-confirmar:hover {
    opacity: 0.8;
    background-color: #4caf50;
}

.boton-cancelar:hover {
    opacity: 0.8;
    color: #333;
}


.contenedor-detalle {
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.seccion-detalle-ciudad {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.seccion-detalle-ciudad p {
    margin-right: 10px;
    font-size: 24px;
}

.seccion-mapa-ciudad {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa-ciudad {
    height: 250px;
    width: 50%;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contenedor-volver {
    text-align: center;
    margin-top: 15px;
}

.volver-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.volver-button:hover {
    background-color: #e74c3c;
    color: #333;
    transform: scale(1.05);
}


.seccion-detalle-pais {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.seccion-detalle-pais p {
    margin-right: 10px;
    font-size: 24px;
}

.capital-button {
    text-decoration: none;
    color: #333;
    background-color: #f7f7f7;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.01s ease;
    font-size: 23px;
    display: inline-block;
}

.capital-button:hover {
    color: #333;
    transform: scale(1.1);
}



.seccion-detalle-viaje {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.seccion-detalle-viaje p {
    margin-bottom: 10px;
    font-size: 28px;
}


.contenedor-imagen-viaje {
    width: 40%;
    padding-right: 20px;
}

.info-viaje {
    width: 60%;
}

.web-button {
    text-decoration: none;
    color: #333;
    background-color: #f7f7f7;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.01s ease;
    font-size: 23px;
    display: inline-block;
}

.web-button:hover {
    color: #333;
    transform: scale(1.1);
}